$primary-color:#ff981a; 
$primary-mute:#ffba66;

$secondary-color:#2a631b;









.b-primary{ 
      background:#ff981a; 
      color:#fff; 
}
.b-black{ 
      background:black; 
      color:#fff; 
}
.b-light{ 
      background:#ccc; 
      color:#333; 
}
.b-secondary{ 
      background:#2a631b; 
      color:#fff; 
}
